# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Development containers
.devcontainer

# Git files
.gitmodules
.gitattributes

# Editor config
.editorconfig

# Empty directories
api/

# Misc
_sass/vendors
assets/js/dist
*.log
.DS_Store
Thumbs.db


# Backup files
*.backup